@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Karla:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-val: "Dancing Script", cursive;
  --font-elegant: "Italiana", serif;
  --font-body: "Karla", sans-serif;
}
